{% extends "shablon.html" %}

{% block title %}
Home - NezerHill
{% endblock %}

{% block body %}
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Information about site</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li><strong>Welcome to Linguist App!</strong></li>
                <li>
                    Learning a new language can be challenging, but with the right tools and support, it can also be an incredibly rewarding journey. At Linguist App, we are dedicated to helping you master English with ease and confidence. Our platform offers a variety of features designed to enhance your learning experience:
                </li>
                <li><strong>Personalized Flashcards:</strong> Create custom flashcards with English words, their Ukrainian translations, and helpful tips to remember them. Whether you're starting from scratch or refining your skills, our flashcards are tailored to your needs.</li>
                <li><strong>Interactive Decks:</strong> Organize your flashcards into decks for focused study sessions. Track your progress and revisit challenging words to ensure comprehensive understanding.</li>
                <li><strong>Community Support:</strong> Join a vibrant community of learners. Share your flashcards, tips, and experiences with others who are on the same journey. Together, we can achieve more!</li>
                <li><strong>User-Friendly Interface:</strong> Our intuitive interface makes it easy to navigate through the app, create flashcards, and monitor your learning progress. You’ll spend less time figuring out the app and more time learning.</li>
                <li>
                    Ready to start your language learning adventure? today and take the first step towards fluency in English!
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
